@CHARSET "UTF-8";
body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.media {
	padding: 0.5em 1em;
	background-color: #EEE;
}
.preco {
	float: left;
	vertical-align: middle;
}

.usuario {
	color: white;
}


.totalizador {
	padding: 10px 0;
}

